
<footer class="footer">
  <small>
        4WallsPH by Jerrome,Mark, and Remy Martin.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact Us", contactus_path %></li>
    </ul>
  </nav>
</footer>